@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #181D1E;
    --element-bg-color: #2F3336;
}

input,
button {
    border: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

/* login */

.LoginForm__container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #fff;
}

.LoginForm__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.LoginForm__container-content input {
    width: 100%;
    border-radius: 4px;
    height: 35px;
    border: 1px solid gray;
    padding: 10px 5px;
    font-size: 16px;
}

.form {
    width: 100%;
}

.signUp__button {
    background-color: rgb(50, 145, 253);
    border-radius: 4px;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.signUp__button.disabled {
    background-color: rgb(130, 178, 231);
}

.form p:not(:last-child) {
    margin-bottom: 10px;
}

.form:not(first-child) {
    margin-top: 20px;
}

/* Loader */

.loader__disabled {
    display: none;
}

.loader__active {
    display: block;
}

.Loader__container {
    min-height: 100vh;
    position: absolute;
    z-index: 5;
    background-color: var(--main-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Loader__container h3 {
    font-size: 20px;
    font-weight: 400;
}


/* burger */
/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 25px;
    left: 20px;
    top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #72797e;
    transition: 1s all;
    height: 15% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #343536;;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #1E2225;
    padding: 1.5em 15px 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

.menu-item {
    color: #b8b7ad;
}

/* Wrapper for item list */
.bm-item-list {
    padding: 10px;
    color: #1E2225;;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/* Patients */

.Patients__container,
.Reception__container {
    position: relative;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    width: 100%;
    color: #fff;
}

.Patients__content-header,
.Doctor__content-header,
.Reception__content-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 7vh;
}

.Patients__content-body,
.Doctor__content-body {
    height: 100%;
    width: 100%;
    padding: 10px;
    max-width: 1024px;
    margin: 0 auto;
}

.Patients__header-item:not(:first-child) {
    margin-top: 2px;
}

.Patients__content-items {
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.Patients__item {
    background-color: #1E2225;
    max-height: 70px;
    overflow: hidden;
    cursor: pointer;
    transition: 2s all;
}


.Patients__content-item:not(:last-child) {
    border-bottom: 1px solid var(--element-bg-color);
}

.Patients__content-item {
    width: 100%;
}

.Patients__item-data {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.Patients__item-description {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    min-height: 70px;
}

.Patients__description-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Patients__description-doctor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 130px;
}

.Patients__doctor-type {
    padding: 4px;
    border-radius: 8px;
}

.Patients__description-doctor.Counseling .Patients__doctor-type{
    background-color: #2B6A1D;
}


.Patients__description-doctor.Treatment .Patients__doctor-type{
    background-color: #AA2501;
}

.Patients__description-doctor.Blindfolds .Patients__doctor-type {
    background-color: #1E8698;
}

.Patients__description-doctor.Surrender .Patients__doctor-type {
    background-color: #5E1B8E;
}
.Patients__description-doctor.Other .Patients__doctor-type {
    background-color: #833ff0;
}

/* Add */

.Add_patients {
    width: 35px;
    border-radius: 10px;
    height: 35px;
    right: 20px;
    top: 20px;
    position: absolute;
    background-color: #72797e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Add_patients a{
    color: #c2c0c0;
}

/* doctor */

.Doctor__container {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: var(--main-bg-color);
}

/* Reception */